body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    /* Dark background */
    color: #f0f0f0;
    /* Light text */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #222;
    /* Darker background for sections */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.classic {
    color: #ff0000;
    /* Red */
}

a.classic:hover {
    color: #cc0000;
}

a.modern {
    color: #00ff00;
    /* Green */
}

a.modern:hover {
    color: #00cc00;
}

a.minimalist {
    color: #0000ff;
    /* Blue */
}

a.minimalist:hover {
    color: #0000cc;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 0.8em 0;
    }

    main {
        padding: 10px;
    }

    section {
        padding: 10px;
    }
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}